`<!DOCTYPE html>
<html>
  <head>
    <title>404 Page | <%= info.configs.siteMetaData.title %></title>
    <style>
      body {
        font-family: cursive;
        color: #888;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }
      h1 {
        font-size: 50px;
      }
      a {
        text-decoration: none;
        color: #333;
        background-color: #ccc;
        padding: 10px 20px;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <div>
        <h1>404</h1>
        <p>Look's like you are lost. Let's return to your home.</p>
        <br />
        <a href="/">Press this when you are ready.</a>
      </div>
    </div>
  </body>
</html>
