---
title: 'This is a sample ejs post'
description: 'this is a sample ejs description'
date: 2019-12-1
---

<p>This post is titled as: <%= values.frontMatter.title %></p>
<span>And the description is: <%= values.frontMatter.description %></span>
